{% if page.toc or page.toc_ads %}
  <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
    <nav class="toc">
      {% if page.toc %}
        <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
        {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" %}
      {% endif %}
    </nav>
    <!-- devinlife comment : right-sidebar ads -->
    <nav class="toc-custom">
      {% if page.toc_ads %}
        {% include GoogleAdSenseSidebar.html %}
      {% endif %}
    </nav>
  </aside>
{% endif %}